[submodule "xpwpatchbay"]
	path = xpwpatchbay
	url = https://github.com/karmahelen/xpwpatchbay.git
[submodule "xstocks"]
	path = xstocks
	url = https://github.com/karmahelen/xstocks
[submodule "xnote"]
	path = xnote
	url = https://github.com/karmahelen/xnote
[submodule "xlist"]
	path = xlist
	url = https://github.com/karmahelen/xlist
